.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: flex;
  justify-content: start;
  align-items: baseline;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #333, #333 20%, #eee 100%, #333 20%);
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}
.toggle-checkbox:checked + .toggle-label {
  background: linear-gradient(
    to bottom,
    #ffffff,
    #c8c6c6 20%,
    #eee 100%,
    #333 20%
  );
}

.toggle-label .icon {
  background: linear-gradient(to bottom, #333, #333 20%, #eee 100%, #333 20%);
  display: flex;
  align-items: baseline;
  border-radius: 20px;
  transition: transform 0.5s ease-in-out;
}

.toggle-checkbox:checked + .toggle-label .icon {
  transform: translateX(50px);

  background: linear-gradient(
    to bottom,
    #ffffff,
    #c8c6c6 20%,
    #eee 100%,
    #333 20%
  );
}
